html, body {
  margin: 0px;
  height: 100%;
}

.wrapper {
	height: 100%;
	width: 100%;
}

.divider {
	height: 76px;
    margin: 10px 4px;
    background-color: rgba(255, 255, 255, 1);
	display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 2px;
}

.header {
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: bisque;
	height: 10%;
	width: 100%;
}

.opt {
	padding-left: 5px;
	display: flex;
	flex-direction: row;
}

.button{
	display:inline-block;
	background: none;
	width: 30px;
	height: 30px;
	border: none;
}

.button img {
    width: 30px;
    height: 30px;
}

.content {
	display: block;
	height: 85%;
}

/* #content {
	display: block;
	height: 90%;
} */

.toolbox {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

.toolBarItem{
	max-height: 50px;
	max-Width:50px;
}

.toolBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colorContainter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.colourPicker {
	display: inline-block;
	height: 100%;
	width: 100px;
}

.colourPalette {
	display: flex;
	flex-direction: column;
	height: 96%;
  padding: 10px;
}

.flex-up-row {
	display: flex;
	flex-direction: row;
}

.flex-down-row {
	display: flex;
	flex-direction: row;
}

.colourSwatches {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	max-height: 30px;
	max-width: 30px;
	margin: 5px;
}

.strokeweight-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.strokeColor {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.fillColor {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.stroke-fill-color {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.textToolOptions {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.footer {
	display: flex;
	flex-direction: row;
	align-content: center;
	padding-left: 20px;
	gap: 20px;
	height: 5%;
	background: antiquewhite;
}
